body {
    margin: 0px;
}
.map-container{
    width:100%;
    height:100%;
}
.map{
    position: absolute;
    width:100%;
    height: 100%;
}
.ol-control button{
    background-color: rgba(40, 40, 40, 0.8) !important;
}
.ol-control button:hover{
    background-color: rgba(40, 40, 40, 1) !important;
}
.ol-scale-line{
    background-color: rgba(40, 40, 40, 0.8) !important;
}
.ol-overviewmap {
    bottom: 2em;
}
.ol-overviewmap.ol-uncollapsible {
    bottom: 2em;
}
.ol-mouse-position {
    font-family: monospace;
    color: white;
    background-color: rgba(40, 40, 40, 0.8);
    right: 1em;
    padding: 5px;
}
