
body{
	background-color: lightyellow;
	padding:0px;
	margin:0px;
}

#botonMenu{
	width:70px;
	height:70px;
	background-color: lightyellow;
    opacity:0.60;
	
}

.burguer{
	position:absolute;
	top:5px;
	left:5px;
	width:30px;
	height:30px;
	z-index: 10;
	border:0px;
	background-color: white;
}

.dibujo{
	position:absolute;
	display:none;
    rigth:50%;
    top:5px;
    text-align: center;
    horizontal-align:center;
    width: 100%;
    height:30px;
    margin:auto;
    z-index: 2;
    background-color: white;
    opacity:0.8;
}

#map{
	position:absolute;
	top:0px;
	display:block;
	height: 100%;
	width: 100%;
}

.envuelta{
	position:absolute;
	display:none;
    bottom:0px;
    text-align: center;
    horizontal-align:center;
    vertical-align:center;
    width: 100%;
    margin:auto;
    z-index: 2;
    background-color: white;
    opacity:0.8;
}

.social{	
	position:absolute;
	display:none;
	left:10px;
    bottom:15px;
	padding:5px;
    text-align: center;
    horizontal-align:center;
	z-index: 2;
	background-color: white;
	opacity:0.8;
}

.info{
//	position:absolute;
//	bottom:0px;
//	left:92%;
//	width:8%;
//	height:80px;
	z-index: 10;
	border:0px;
	background-color: white;
}

.logo{
	position:absolute;
/*	display:block;*/
	display:inline;
	left:90%;
    bottom:5px;
    z-index: 10;
}

#Voxel3D{
	position:absolute;
/*	display:block;*/
	display:inline;
	left:10px;
/*	left:93%;*/
    bottom:30px;
    z-index: 10;
}
.miPosicion{
	position:absolute;
	right:0px;
	bottom:0px;
	
	
	
	
	
}
.posicionRaton{	
	font-size:48px;
	color:black;
	font-family: sans-serif;
	font-weight: 400;
    z-index: 3; 
	background-color: lightyellow;	
}
*/
img{
	position:relative;
/*	bottom:2px;*/
	width: 15px;
	height: 20px;
	border-radius:15%;
}
.logo img{
	width: 120px;
	height: 60px;
	border-radius:0%;
}
img:hover{
	width:50px;
	height:50px;
/*	background-color: #F6D10D;*/
	border-radius:15%; 
}
img:hover+img{
	width:40px;
	height:40px;
/*	background-color: #F6D10D;*/
	border-radius:25%;
}
img:hover+img+img{
	width:30px;
	height:30px;
/*	background-color: #F6D10D;*/
	border-radius:25%;
}
.logo img:hover{
	width: 150px;
	height: 75px;
}